body {
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(99, 71, 255);
    overflow-wrap: break-word;
    overflow: hidden scroll;
}
button.pop {
    background-color: rgb(74, 200, 122); /* Green */
    border: none;
    color: white;
    padding: 1vw;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 1vw;
    margin: .5vw .2vw 0vw .2vw;
    cursor: pointer;
    border-radius: 1vw;
    opacity: 0.8;
    width: fit-content;
    float: left;
}
button.pop:hover {
    background-color: rgb(2, 44, 18); /* Dark Green */
    opacity: 1.5;
    color: red;
}
button.like {
    background-color: rgb(74, 200, 122);
    margin-left: 3vw;
}
button.favorite {
    background-color: rgb(74, 200, 122);
    margin-left: 4vw;

}
.container {
    max-width: 99vw;
    min-width: 95vw;
    max-height: 99vh;
    min-height: 95vh;
    margin: auto;
    text-transform: capitalize;
}
.btnArea {
    white-space: normal;
    float: left;
    width: 99%;
    overflow: hidden;
}
.row {
    display: inline-flex;
    padding-top: 1vh;
    margin-right: 10vw;
    float: left;
    width: 75%;
    
}
.col {
    margin: auto;
    float: right;
    margin-right: 1vw;
}
label {
font-size: 2vw;
}
input#input {
    width: 20vw;
    margin-bottom: 1vh;
    margin-top: 1vh;
    margin-right: 20vw;
}
img {
    width: 300px;
    height: auto;
    margin-left: 1vw;
}
h5 {
    margin: 0 0 1vw 1vw;
}
.title {
    text-shadow: 2px 2px black;
    text-align: center;
    margin: auto;
    margin-top: 1vh;
    margin-bottom: 2vh;
}
#favGifArea {
    display: flex;
    position: relative;
    float: left;
    flex-wrap: wrap;
    width: 99vw;
    overflow: overlay;
}
@media(min-width:100px) and (max-width:1400px) {
    img {
        width: 23.7vw;
        height: auto;
        margin-left: .7vw;
    }
    .container {
    max-width: 100vw;
    min-width: 98vw;
    }
}

